.dropdown_style {
    background: #FFFFFF !important;
    box-shadow: 0px 442px 124px rgba(163, 163, 163, 0.03), 0px 159px 96px rgba(163, 163, 163, 0.02), 0px 71px 71px rgba(163, 163, 163, 0.03), 0px 18px 39px rgba(163, 163, 163, 0.03), 0px 0px 0px rgba(163, 163, 163, 0.03) !important;
    border-radius: 17px !important;
}